@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;300;400;500&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500&family=Bellefair&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    
}
.linkTextCointainer{
    display: flex;
    gap: 8px;
}
nav{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 50px;    
    width: 100%;
}
.rectangle{
    position: relative;
    width: 473px;
    left: 112px;
    z-index: 1;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.2515;
    background: #FFF;
}
.linkbox{
    display: flex;
    gap: 3rem;
    align-items: center;  
    padding-left: 100px;  
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.linkbox .number{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}
.linkbox .text{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.linkbox a{
    text-decoration: none;
    position: relative;
}
.linkbox a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -35px;
    left: 0;
    opacity: 0.5021;
    background: #FFF;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  .linkbox a:hover::before   {
    visibility: visible;
    transform: scaleX(1);
  }
.linkbox a.active{
    text-decoration: underline 3px #FFF;
    text-underline-offset: 36px;
}
.crewBox{
    display: flex;
    padding: 0px 9% ;
    justify-content: space-between;
}
.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 9%;
}
.leftSide h1{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 1;
}
.leftSide h1 span{
    font-weight: 700;
    opacity: 0.25;
}
.crewText{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.crewText h2{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
}
.crewText h1{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.crewText p{
    width: 444px;
    color: #D0D6F9;
    font-family: 'Barlow';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
svg circle{
    cursor: pointer;
}
svg circle:hover{
    opacity: 1;
}
.openBtn{
    display: none;
}
.mobileMenu{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 254px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);    
    padding-left: 40px;
    padding-top: 80px;    
}
.linkMobile{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.textMobile{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}
.textMobile span{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.closeBtn{
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}
.hidden{
    display: none;
}
@media (max-width:768px){ 
    body{
        background-image: url("../assets/crew/background-crew-tablet.jpg");
        background-size:auto;
        width: 100vw;
    }
    .rectangle{
        display: none;
    }
    .number{
        display: none;
    }
    nav{        
        margin-top: 0;
    }
    .linkbox{
        width: auto;
        height: 96px;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .linkbox p{
        font-size: 14px;
        font-weight: 400;
    }
    .crewBox{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 30px;
       
    }
    .leftSide{
        width: 100vw;
        align-items: center;        
        padding-bottom: 9%;
        gap: 2rem;
    }
    .leftSide h1{
        margin-right: auto;
        margin-left: 9%;
    }
    .crewText{
        display: flex;
        flex-direction: column;         
        gap: 0;
    }
    .crewText h2{
        font-size: 24px;
    }
    .crewText h1{
        margin-left: 0%;
        width: 457px;
        font-size: 40px;
        text-align: center;
    }
    .crewText p{
        font-size: 16px;
        line-height:28px; /* 177.778% */
    }
    .rightSide img{
        width: 368.853px;
        height: 532px;
    }
}
@media (max-width:376px){ 
    nav{
        padding-top: 10px;
        padding-right: 50px;
    }
    .linkbox{
        display: none;
    }
    .openBtn{
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .crewBox{
        flex-direction: column-reverse;
    }
    .leftSide h1{
        
        margin-right: auto;
        margin-left: 9%;
        font-size: 16px;
    }
    .crewText{
        display: flex;
        flex-direction: column; 
        align-items: center;        
        gap: 0;
    }
    .crewText h2{
        font-size: 16px;
    }
    .crewText h1{         
        margin-left: 0%;       
        width: 327px;
        font-size: 24px;
    }
    .crewText p{
        width: 327px;
        font-size: 15px;
    }
    .rightSide img{
        width: 177.123px;
        height: 222px;
    }
}
