@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;300;400;500&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500&family=Bellefair&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@300;400&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Open+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    
}
nav{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 50px;    
    width: 100%;
}
.rectangle{
    position: relative;
    width: 473px;
    left: 112px;
    z-index: 1;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.2515;
    background: #FFF;
}
.linkbox{
    display: flex;
    gap: 3rem;
    align-items: center;  
    padding-left: 100px;  
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}
.linkbox p{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}
.linkbox span{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.linkbox a{
    text-decoration: none;
    position: relative;
}
.linkbox a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -35px;
    left: 0;
    opacity: 0.5021;
    background: #FFF;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  .linkbox a:hover::before   {
    visibility: visible;
    transform: scaleX(1);
  }
.linkbox a.active{
    text-decoration: underline 3px #FFF;
    text-underline-offset: 36px;
}
.techBox{
    display: flex;
    padding-left:  9%;
    justify-content: space-between;
}
.leftSide{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    padding-bottom: 9%;
}
.leftSide h1{
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    opacity: 1;
}
.leftSide h1 span{
    font-weight: 700;
    opacity: 0.25;
}
.techContainer{
    display: flex;
    
    gap: 3rem;
}
.techText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 303px;
}
.techText h2{
    color: #D0D6F9;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.techBox h1{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.techBox p{
    width: 444px;
    color: #D0D6F9;
    font-family: 'Barlow';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.rightSide{
    padding-bottom: 9%;
}
.techButtons{
    display: flex;
    flex-direction: column;      
    gap: 2rem;
}
.techButtons button{
    background-color: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50px;    
    border: solid 1px rgba(255, 255, 255, 0.336);
    color: #FFF;
    text-align: center;
    font-family: 'Bellefair';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
.techButtons button.active{
    color: #0B0D17;
    background-color: #FFF;
}
.techButtons button:hover{
    border: solid 1px rgba(255, 255, 255, 1);
}
.hidden{
    display: none;
}
@media (max-width:768px){ 
    body{
        background-image: url("../assets/technology/background-technology-tablet.jpg");
        background-size:auto;
        width: 100vw;
    }
    .rectangle{
        display: none;
    }
    .number{
        display: none;
    }
    nav{        
        margin-top: 0;
    }
    .linkbox{
        width: auto;
        height: 96px;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    .linkbox p{
        font-size: 14px;
        font-weight: 400;
    }
    .techBox{
        flex-direction: column-reverse;
        padding: 0;
    }
    .rightSide{
        padding-bottom: 30px;
    }
    .leftSide{
       align-items: center;
       text-align: center;
    }
    .leftSide .tableText{
        position: absolute;
        top: 130px;
        left: 20px;
        font-size: 20px;
        font-weight: 400;
    }
    .techContainer{
        flex-direction: column;
        align-items: center;
    }
    .techText{
        align-items: center;
        justify-content: space-around;
    }
    .techBox h1{
        font-size: 40px;
    }
    .techBox p{       
        font-size: 16px;        
        line-height: 28px; /* 177.778% */
    }
    .techButtons{
        flex-direction: row;
    }
    .techButtons button{
        width: 60px;
        height: 60px;
    }
}